<header>
  <div class="logo">
    <h2><i class="fa-solid fa-cloud fa-bounce"></i> Weather</h2>
  </div>
  <div class="actions">
    <a href="/">Home</a>
    <a href="/weather">Check Weather</a>
  </div>
</header>