<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/style.css">
    <title>{{title}}</title>
  </head>
  <body class="home">
    {{>header}}
    <div class="page-view">
       <div class="home-intro">
            <div class="intro">
                <h1>Welcome </h1>
                <p>Our website provide weather forecasting services</p>
                <a href="/weather">
                    <button>Get Started</button>
                </a>
            </div>
            <div class="img">
                <img src="./images/{{img}}" alt="illustration image">
            </div>
          
       </div>
    </div>
  </body>
</html>